# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data
metro = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')

In [4]:
# Observe top 10 observations (int)
metro.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
metro.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
col = list(metro.columns)
col

['holiday',
 'temp',
 'rain_1h',
 'snow_1h',
 'clouds_all',
 'weather_main',
 'weather_description',
 'date_time',
 'traffic_volume']

In [7]:
# Q1.1 How many columns end with a vowel? 
# Q1.2 How many columns start with a vowel?
# Q1.3 Which columns are associated with the condition of weather? 6
# Q1.4 How many columns have `th` in their names?
metro.dtypes

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object

In [8]:
# Q1.1 How many columns end with a vowel?
# Q1.2 How many columns start with a vowel?

letters =['a', 'e', 'i', 'o', 'u']
count_start = 0
count_end = 0
for i in range(len(col)):
    for j in range(len(letters)):
        if(col[i][0] == letters[j]):
            count_start = count_start + 1
        elif(col[i][-1] == letters[j]):
            count_end = count_end + 1
            
#print(count_start, count_end)
print("Q1.1:", count_end)
print("\nQ1.2:", count_start)

Q1.1: 2

Q1.2: 0

In [9]:
# Q1.4 How many columns have `th` in their names?

count = 0
for i in range(len(col)):
    count = count + col[i].count("th")
print("\nQ1.4:", count)

Q1.4: 2

In [10]:
# Print data size (int)
print("data size:", metro.size)
# Q2.1 How many observations are in the data?
# Q2.2 How many features are in the data?

print("\nQ2.1:", len(metro.index)
     )
print("\nQ2.2:",metro.shape[1])

data size: 433836

Q2.1: 48204

Q2.2: 9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [11]:
# Display number of not NaN's in every column (int)
metro.count()
# Q3.1 How many NA values are in the `clouds_all` column?
# Q3.2 How many NA values are in the `temp` column?
# Q3.3 How many NA values are in the `rain_1h` column?

# Q3.4 How many NA values are in the `snow_1h` column?
# Q3.5 How many explicit NA values are in the `traffic_volume` column?

holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64

In [12]:
# Q3.3 How many NA values are in the `rain_1h` column?
print("\nQ3.3:", len(metro) - metro['rain_1h'].count())

Q3.3: 1

In [13]:
# Q3.5 How many explicit NA values are in the `traffic_volume` column?
print("\nQ3.5:", len(metro) - metro['traffic_volume'].count())

Q3.5: 5

In [14]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
df = metro.dropna()
df.count()

holiday                48190
temp                   48190
rain_1h                48190
snow_1h                48190
clouds_all             48190
weather_main           48190
weather_description    48190
date_time              48190
traffic_volume         48190
dtype: int64

In [15]:
# Display basic data statistics using .describe()
df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [16]:
# Count number of unique values in every column (int)
counts = df.nunique()
counts
# Q4.1 How many unique values are in the `clouds_all` column?
# Q4.2 How many unique values are in the `weather_main` column?
# Q4.3 How many unique values are in the `weather_description` column?
# Q4.4 How many unique values are in the `snow_1h` column?
# Q4.5 How many unique values are in the `rain_1h` column?

holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40562
traffic_volume          6704
dtype: int64

In [17]:
# Q4.1 How many unique values are in the `clouds_all` column?
print("\nQ4.1:", df['clouds_all'].nunique())

Q4.1: 60

In [18]:
# Q4.3 How many unique values are in the `weather_description` column?
print("\nQ4.3:", df['weather_description'].nunique())

Q4.3: 38

In [19]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task


# Q5.1 For every unique `weather_main` value give its number of occurences.
wm = df['weather_main'].value_counts()
wm
# Q5.2 For every unique `weather_description` value give its number of occurences.

Clouds          15159
Clear           13384
Mist             5950
Rain             5671
Snow             2876
Drizzle          1821
Haze             1359
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64

In [20]:
# Q5.2 For every unique `weather_description` value give its number of occurences.
wd = df['weather_description'].value_counts()
wd

sky is clear                           11658
mist                                    5950
overcast clouds                         5081
broken clouds                           4665
scattered clouds                        3458
light rain                              3371
few clouds                              1955
light snow                              1946
Sky is Clear                            1726
moderate rain                           1664
haze                                    1359
light intensity drizzle                 1100
fog                                      912
proximity thunderstorm                   673
drizzle                                  651
heavy snow                               616
heavy intensity rain                     467
snow                                     293
proximity shower rain                    136
thunderstorm                             125
heavy intensity drizzle                   64
thunderstorm with heavy rain              63
thunderstorm with light rain              54
proximity thunderstorm with rain          52
thunderstorm with rain                    37
smoke                                     20
very heavy rain                           18
thunderstorm with light drizzle           15
light intensity shower rain               13
proximity thunderstorm with drizzle       13
light shower snow                         11
light rain and snow                        6
shower drizzle                             6
SQUALLS                                    4
sleet                                      3
thunderstorm with drizzle                  2
freezing rain                              2
shower snow                                1
Name: weather_description, dtype: int64

In [21]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
print("Q6.2:")
print("Max of 'clouds_all':\n", round(df['clouds_all'].max(), 3))
print("Min of 'clouds_all':\n", round(df['clouds_all'].min(), 3))
print("Mean of 'clouds_all':\n", round(df['clouds_all'].mean(), 3))
print("Std of 'clouds_all':\n", round(df['clouds_all'].std(), 3), "\n")
# Q6.3 What are the max, min, mean and the std of the `temp` column?
print("Q6.3:")
print("Max of 'temp':\n", round(df['temp'].max(), 3))
print("Min of 'temp':\n", round(df['temp'].min(), 3))
print("Mean of 'temp':\n", round(df['temp'].mean(), 3))
print("Std of 'temp':\n", round(df['temp'].std(), 3))
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?

Q6.2:
Max of 'clouds_all':
 100.0
Min of 'clouds_all':
 0.0
Mean of 'clouds_all':
 49.369
Std of 'clouds_all':
 39.016

Q6.3:
Max of 'temp':
 310.07
Min of 'temp':
 0.0
Mean of 'temp':
 281.201
Std of 'temp':
 13.337

In [22]:
# Display data types of all columns (int)
print(df.dtypes)

# Q7.1 How many columns have `object` data type?


# Q7.2 How many columns have `int64` data type?
# Q7.3 How many columns have `float64` data type?
# Q7.4 What are the columns with dtype == `float64`?
print(df.dtypes=='float64')

# Q7.5 What are the columns with dtype == `int64`?

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object
holiday                False
temp                    True
rain_1h                 True
snow_1h                 True
clouds_all              True
weather_main           False
weather_description    False
date_time              False
traffic_volume          True
dtype: bool

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [23]:
# Select rows by position (int) 
df[770:780]
# Q8.1 What is the temperature of the time slot with index 777?
print('Temp =', df.iloc[777]['temp'])
# Q8.2 What is the weather description of the time slot with index 999?
# Q8.3 How much is cloud coverage with index 1337?
# Q8.4 What is the weather main of the time slot with index 314?
print('Weather main:', df.iloc[314]['weather_main'])
# Q8.5 When was the time slot with index of 2718 observed?

Temp = 278.5
Weather main: Clouds

In [24]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
print('Temp =', df.iloc[1102]['temp'])
# Q9.2 What is the weather description of the time slot on index 5695?
# Q9.3 How much is cloud coverage on the index 1045?
print('Clouds coverage:', df.iloc[1045]['clouds_all'])
# Q9.4 What is the weather main of the time slot from index 252?
# Q9.5 When was the time slot with index of 38 captured?

Temp = 280.43
Clouds coverage: 20.0

In [25]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# Q10.2 When was the first "light intensity drizzle" in weather description captured?
# Q10.3 How many time slots have cloud coverage more than 75?
value = 75
mask = df['clouds_all'] > value  
print(df[mask].shape)
# Q10.4 How many time slots are foggy? (weather_main = Fog)

mask1 = df['weather_main'] == "Fog" 
print(df[mask1].shape)
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?

(18036, 9)
(912, 9)

In [26]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
cond = df['date_time'] == '2016-11-20 20:00:00'   
print("Q11.1:", df[cond]['traffic_volume']);
# print(df[cond].traffic_volume)    ??????
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
cond1 = df['clouds_all'] == 90
df1 = df[cond1]
#df1[:35]
print("\nQ11.4:", df1.iloc[34]['traffic_volume'])
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?

Q11.1: 28268    2070.0
Name: traffic_volume, dtype: float64

Q11.4: 3833.0

In [27]:
# Q12.1 What is the temperature of the tenth holiday?
df[:15]
cond2 = df['holiday'] != 'None'
df2 = df[cond2]
df2[:15]
print("Q12.1:", df2.iloc[10]['temp'])
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
# Q12.3 How much is the temperature of the twelfth holiday?
# Q12.4 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?
cond3 = df['clouds_all'] <= 20
df3 = df[cond3]

print("\nQ12.5", df3.iloc[1337]['temp'])

Q12.1: 277.72

Q12.5 277.06

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [28]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
df['temp_in_celcius'] = df['temp'] - 273.15
df['temp_in_celcius']
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)

# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\2009882477.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp_in_celcius'] = df['temp'] - 273.15

0        15.13
1        16.21
2        16.43
3        16.98
4        17.99
         ...
48199    10.30
48200     9.61
48201     9.58
48202     8.94
48203     8.97
Name: temp_in_celcius, Length: 48190, dtype: float64

In [29]:
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
df['hot'] = df['temp'] > 300  
df

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\2357850234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hot'] = df['temp'] > 300

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.30,False
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.61,False
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.58,False
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,8.94,False
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,8.97,False

In [30]:
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
df['rainy_and_cloudy'] = (df['rain_1h'] > 0.1) & (df['clouds_all'] > 50)
df

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\297086042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rainy_and_cloudy'] = (df['rain_1h'] > 0.1) & (df['clouds_all'] > 50)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.30,False,False
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.61,False,False
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.58,False,False
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,8.94,False,False
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,8.97,False,False

In [31]:
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
df['is_holiday'] = df['holiday'] != 'None'
df[125:128]

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\1881373267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_holiday'] = df['holiday'] != 'None'

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday
125,None,273.92,0.0,0.0,20.0,Clouds,few clouds,2012-10-07 23:00:00,959.0,0.77,False,False,False
126,Columbus Day,273.08,0.0,0.0,20.0,Clouds,few clouds,2012-10-08 00:00:00,455.0,-0.07,False,False,True
127,None,272.62,0.0,0.0,20.0,Clouds,few clouds,2012-10-08 01:00:00,336.0,-0.53,False,False,False

In [32]:
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.



df["traffic_cat"] = pd.qcut(df["traffic_volume"], 5, ["1", "2", "3", "4", "5"])
df

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\498185178.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["traffic_cat"] = pd.qcut(df["traffic_volume"], 5, ["1", "2", "3", "4", "5"])

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False,False,4
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False,False,4
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.30,False,False,False,3
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.61,False,False,False,3
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.58,False,False,False,2
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,8.94,False,False,False,2
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,8.97,False,False,False,2

In [33]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
value = 270
mask1 = df['temp'] > value
mask2 = df['weather_main'] == "Clouds"
print("Q14.3:", df[mask1 & mask2].shape)
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?

Q14.3: (12133, 14)

In [34]:
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?
mask3 = df['weather_main'].str.lower() == "clear"
mask4 = df['date_time'] >= '2017-06-01'
mask5 = df['date_time'] <= '2017-06-30'
print("Q14.5:", df[mask3 & mask4 & mask5]['traffic_volume'].max())
#df['date_time'][34152:34975]

Q14.5: 6673.0

In [35]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q15.1 What was the average temperature of time slots with main weather "Haze"?
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
mask = df['date_time'] >= '2017-04-01'
mask1 = df['date_time'] <= '2017-04-30'
print("Q15.4:", df['temp'][mask & mask1].median())
# Q15.5 What is the maximum temperature of time slots with clear sky?

Q15.4: 282.15

In [36]:
# Q15.5 What is the maximum temperature of time slots with clear sky?
mask = df['weather_main'].str.lower() == 'clear'
print("Q15.5:", df['temp'][mask].max())

Q15.5: 308.43

In [37]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
mask6 = df['weather_main'] == 'Clouds'
mask7 = df['weather_main'] == 'Rain'
#df['weather_main'].value_counts()
print("Q16.1:", df['temp_in_celcius'][mask6 | mask7].mean())
# Q16.2 What is the average traffic volume on holidays?
# Q16.3 What is the average traffic volume on non-holidays?
# Q16.4 What is the average traffic volume in the highest quantile?
# Q16.5 What is the average traffic volume in the lowest quantile?

Q16.1: 9.81339937590018

In [38]:
# Q16.2 What is the average traffic volume on holidays?
mask = df['holiday'] != 'None'
print("Q16.2:", df['traffic_volume'][mask].mean())

Q16.2: 865.4426229508197

In [39]:
# Q16.3 What is the average traffic volume on non-holidays?
mask1 = df['holiday'] == 'None'
print("Q16.3:", df['traffic_volume'][mask1].mean())

Q16.3: 3262.8938270065864

In [40]:
# Q16.4 What is the average traffic volume in the highest quantile?
cond = df['traffic_cat'] == "5"
print("Q16.4:", df['traffic_volume'][cond].mean())

Q16.4: 5870.913350649351

In [41]:
# Q16.5 What is the average traffic volume in the lowest quantile?
cond = df['traffic_cat'] == "1"
print("Q16.5:", df['traffic_volume'][cond].mean())

Q16.5: 485.5536195809998

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [42]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
df['date_time'] = pd.to_datetime(df['date_time'])
df
# Q17.2 Extract and store `year`
df['year'] = df.date_time.dt.year
# Q17.3 Extract and store `month`
df["month"] = df.date_time.dt.month
# Q17.4 Extract and store `day`
df['day'] = df.date_time.dt.day
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
df['weekday'] = df.date_time.dt.weekday
# Q17.6 Extract and store `hour`
df['hour'] = df.date_time.dt.hour
df

C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_time'] = pd.to_datetime(df['date_time'])
C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df.date_time.dt.year
C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"] = df.date_time.dt.month
C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df.date_time.dt.day
C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'] = df.date_time.dt.weekday
C:\Users\irena\AppData\Local\Temp\ipykernel_3644\413689965.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = df.date_time.dt.hour

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat,year,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5,2012,10,2,1,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4,2012,10,2,1,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False,False,4,2012,10,2,1,11
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False,False,4,2012,10,2,1,12
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False,False,4,2012,10,2,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.30,False,False,False,3,2018,9,30,6,19
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.61,False,False,False,3,2018,9,30,6,20
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.58,False,False,False,2,2018,9,30,6,21
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,8.94,False,False,False,2,2018,9,30,6,22
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,8.97,False,False,False,2,2018,9,30,6,23

In [43]:
# Find some date related information from the data (int)

# Q18.1 What is the weekday with the highest traffic volume?
# Q18.2 What is the weekday with the lowest traffic volume?
# Q18.3 What is the average traffic volume during months of September?
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
cond1 = df['hour'] >= 15
cond2 = df['hour'] <= 19
print("Q18.4:", df['traffic_volume'][cond1 & cond2].mean())
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?

Q18.4: 4749.295714285714

In [44]:
cond1 = df['month'] == 6
cond2 = df['day'] == 3
print("Q18.5:", df['traffic_volume'][cond1 & cond2].mean())

Q18.5: 3445.976

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By group by we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [45]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
print("Traffic by year:")
print(df.groupby('year')['traffic_volume'].mean())
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
print("\nTraffic by weekday:")
print(df.groupby('weekday')['traffic_volume'].mean())
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
print("\nTemperature by traffic:")
print(df.groupby('traffic_cat')['temp_in_celcius'].mean())

Traffic by year:
year
2012    3207.802657
2013    3286.762160
2014    3250.938004
2015    3243.296857
2016    3169.441328
2017    3340.703065
2018    3260.112341
Name: traffic_volume, dtype: float64

Traffic by weekday:
weekday
0    3308.939463
1    3489.275756
2    3583.051667
3    3637.500073
4    3656.822359
5    2773.848316
6    2368.417091
Name: traffic_volume, dtype: float64

Temperature by traffic:
traffic_cat
1    5.445774
2    6.031004
3    9.244710
4    9.797489
5    9.740191
Name: temp_in_celcius, dtype: float64

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [46]:
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat,year,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5,2012,10,2,1,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4,2012,10,2,1,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False,False,4,2012,10,2,1,11
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False,False,4,2012,10,2,1,12
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False,False,4,2012,10,2,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.30,False,False,False,3,2018,9,30,6,19
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.61,False,False,False,3,2018,9,30,6,20
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.58,False,False,False,2,2018,9,30,6,21
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,8.94,False,False,False,2,2018,9,30,6,22
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,8.97,False,False,False,2,2018,9,30,6,23

In [47]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
#y = df["traffic_volume"].values

good_columns = ['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'year', 'month', 'day', 'weekday', 'hour', 'is_holiday']
X = df[good_columns]

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [48]:

y = df['traffic_volume']
print(X, "\n", y)
y.shape

         temp  rain_1h  snow_1h  clouds_all  year  month  day  weekday  hour  \
0      288.28      0.0      0.0        40.0  2012     10    2        1     9
1      289.36      0.0      0.0        75.0  2012     10    2        1    10
2      289.58      0.0      0.0        90.0  2012     10    2        1    11
3      290.13      0.0      0.0        90.0  2012     10    2        1    12
4      291.14      0.0      0.0        75.0  2012     10    2        1    13
...       ...      ...      ...         ...   ...    ...  ...      ...   ...
48199  283.45      0.0      0.0        75.0  2018      9   30        6    19
48200  282.76      0.0      0.0        90.0  2018      9   30        6    20
48201  282.73      0.0      0.0        90.0  2018      9   30        6    21
48202  282.09      0.0      0.0        90.0  2018      9   30        6    22
48203  282.12      0.0      0.0        90.0  2018      9   30        6    23

       is_holiday
0           False
1           False
2           False
3           False
4           False
...           ...
48199       False
48200       False
48201       False
48202       False
48203       False

[48190 rows x 10 columns]
 0        5545.0
1        4516.0
2        4767.0
3        5026.0
4        4918.0
          ...
48199    3543.0
48200    2781.0
48201    2159.0
48202    1450.0
48203     954.0
Name: traffic_volume, Length: 48190, dtype: float64

(48190,)

In [49]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit


tscv = TimeSeriesSplit(n_splits=5)


for train_index, test_index in tscv.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index, :], X.iloc[test_index,:]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

# print(X_train.shape, y_train.shape)
# print(X_test.shape, y_test.shape)

TRAIN: [   0    1    2 ... 8032 8033 8034] TEST: [ 8035  8036  8037 ... 16063 16064 16065]
TRAIN: [    0     1     2 ... 16063 16064 16065] TEST: [16066 16067 16068 ... 24094 24095 24096]
TRAIN: [    0     1     2 ... 24094 24095 24096] TEST: [24097 24098 24099 ... 32125 32126 32127]
TRAIN: [    0     1     2 ... 32125 32126 32127] TEST: [32128 32129 32130 ... 40156 40157 40158]
TRAIN: [    0     1     2 ... 40156 40157 40158] TEST: [40159 40160 40161 ... 48187 48188 48189]

In [50]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(40159, 10) (40159,)
(8031, 10) (8031,)

In [51]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
from sklearn.linear_model import Ridge

from sklearn.preprocessing import MinMaxScaler

scaler_ridge = MinMaxScaler()
scaler_ridge.fit(X_train)
X_train_ridge = scaler_ridge.transform(X_train)
X_test_ridge = scaler_ridge.transform(X_test)
ridge = Ridge()

In [52]:
# Q22.2 Use decision tree regressio
from sklearn.tree import DecisionTreeRegressor

tree_model = DecisionTreeRegressor(random_state=7)

In [53]:
# Q22.3 Use k nearest neighbours regression

from sklearn.neighbors import KNeighborsRegressor

scaler_knn = MinMaxScaler()
scaler_knn.fit(X_train)
X_train_knn = scaler_knn.transform(X_train)
X_test_knn = scaler_knn.transform(X_test)

knn = KNeighborsRegressor()

In [54]:
# Use grid search to select optimal hyperparamters of your models. 
from sklearn.metrics import mean_squared_error as mse

In [67]:
# Q23.1 Alpha for a ridge regression

a_range = np.logspace(-6, 1, 20)
train_E_ridge = []
test_E_ridge = []

for a in a_range:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train_ridge, y_train)
    y_pred_train_ridge = ridge.predict(X_train_ridge)
    y_pred_test_ridge = ridge.predict(X_test_ridge)
    train_E_ridge.append(mse(y_train, y_pred_train_ridge))
    test_E_ridge.append(mse(y_test, y_pred_test_ridge))
    
opt_a = a_range[np.argmin(test_E_ridge)]
print("Optimal alpha:", opt_a)

Optimal alpha: 1e-06

In [56]:
# Q23.2 Depth for the tree

d_range = range(1, 20)
    
train_E_tree = []
test_E_tree = []

for d in d_range:
    tree = DecisionTreeRegressor(max_depth=d)
    tree.fit(X_train, y_train)
    y_pred_train_tree = tree.predict(X_train)
    y_pred_test_tree = tree.predict(X_test)
    train_E_tree.append(mse(y_pred_train_tree, y_train))
    test_E_tree.append(mse(y_pred_test_tree, y_test))
    
opt_d = d_range[np.argmin(test_E_tree)]
print("Optimal depth:", opt_d)

Optimal depth: 9

In [57]:
# Q23.3 Number of neighbours for the knn

n_neighbours_range = range(1, 20)

test_E_knn = []
train_E_knn = []

for n in n_neighbours_range:

    knn = KNeighborsRegressor(n)
    knn.fit(X_train_knn, y_train)
    y_pred_train_knn = knn.predict(X_train_knn)
    y_pred_test_knn = knn.predict(X_test_knn)
    
    train_E_knn.append(mse(y_pred_train_knn, y_train))
    test_E_knn.append(mse(y_pred_test_knn, y_test))
    
opt_n_neighbours = n_neighbours_range[np.argmin(test_E_knn)]
print("Optimal number of neighbours:", opt_n_neighbours)

Optimal number of neighbours: 6

In [58]:
# Compute train and test mean squared error for your best models (list of float).

In [59]:
# Q24.1 Train, test MSE using linear regression with l2 regularization

ridge_opt = Ridge(alpha=opt_a)
ridge_opt.fit(X_train_ridge, y_train)

y_pred_train_ridge_opt = ridge_opt.predict(X_train_ridge)
y_pred_test_ridge_opt = ridge_opt.predict(X_test_ridge)


train_mse_ridge_opt = round(mse(y_pred_train_ridge_opt, y_train), 3)
test_mse_ridge_opt = round(mse(y_pred_test_ridge_opt, y_test), 3)

print("Train MSE:", train_mse_ridge_opt)
print("Test MSE:", test_mse_ridge_opt)

Train MSE: 3330428.478
Test MSE: 3282478.51

In [60]:
# Q24.2 Train, test MSE using decision tree regression


tree_opt = DecisionTreeRegressor(max_depth=opt_d)
tree_opt.fit(X_train, y_train)

y_pred_train_tree_opt = tree_opt.predict(X_train)
y_pred_test_tree_opt = tree_opt.predict(X_test)


train_mse_tree_opt = round(mse(y_pred_train_tree_opt, y_train), 3)
test_mse_tree_opt = round(mse(y_pred_test_tree_opt, y_test), 3)

print("Train MSE:", train_mse_tree_opt)
print("Test MSE:", test_mse_tree_opt)

Train MSE: 211532.262
Test MSE: 270004.454

In [61]:
# Q24.3 Train, test MSE using k nearest neighbours regression

knn_opt = KNeighborsRegressor(opt_n_neighbours)
knn_opt.fit(X_train_knn, y_train)

y_pred_train_knn_opt = knn_opt.predict(X_train_knn)
y_pred_test_knn_opt = knn_opt.predict(X_test_knn)


train_mse_knn_opt = round(mse(y_pred_train_knn_opt, y_train), 3)
test_mse_knn_opt = round(mse(y_pred_test_knn_opt, y_test), 3)

print("Train MSE:", train_mse_knn_opt)
print("Test MSE:", test_mse_knn_opt)

Train MSE: 422584.15
Test MSE: 689690.778

In [62]:
# Compute train and test R^2 for your best models (list of float).

from scipy.stats import pearsonr # ???
from sklearn.metrics import r2_score

In [63]:
# Q25.1 Train, test R^2 using linear regression with l2 regularization

train_r2_ridge = round(r2_score(y_train, y_pred_train_ridge_opt), 3)
test_r2_ridge = round(r2_score(y_test, y_pred_test_ridge_opt), 3)
print(train_r2_ridge)
print(test_r2_ridge)

0.159
0.154

In [64]:
# Q25.2 Train, test R^2 using decision tree regression


train_r2_tree = round(r2_score(y_train, y_pred_train_tree_opt), 3)
test_r2_tree = round(r2_score(y_test, y_pred_test_tree_opt), 3)
print(train_r2_tree)
print(test_r2_tree)

0.947
0.93

In [65]:
# Q25.3 Train, test R^2 using k nearest neighbours regression


train_r2_knn = round(r2_score(y_train, y_pred_train_knn_opt), 3)
test_r2_knn = round(r2_score(y_test, y_pred_test_knn_opt), 3)
print(train_r2_knn)
print(test_r2_knn)

0.893
0.822

In [66]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

top_f = []
for i in np.argpartition(ridge_opt.coef_, ridge_opt.coef_.size - 5)[(len(good_columns) - 5): ]:
    top_f.append(good_columns[i])
    
print(top_f)

['year', 'rain_1h', 'clouds_all', 'hour', 'temp']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells